/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.4;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.top-content .text-container {
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}

.middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.middle-content h2 {
  padding: 0 2%;
  margin-bottom: 0;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.middle-content .boxes .box {
  width: 12.5%;
  height: 100px;
  background: black;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}

.bottom-content .text-container {
  padding-right: 4%;
}

.bottom-content .text-container:last-child {
  padding-right: 0;
}

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 2%; */
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}
body {
  margin: 2%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
  width: 95%;
}
nav a {
  display: flex;
  margin-top: 3%;
}
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

.jumboImg {
  display: flex;
  margin-top: 5%;
  width: 100%;
}

.top-content {
  display: flex;
  width: 100%;
}
.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.text-container {
  font-weight: bold;
}
footer {
  color: white;
}
footer a {
  display: flex;
  padding: 1%;
  margin-bottom: 4%;
  margin-left: 2%;
}

footer a:link {
  color: white;
  text-decoration: none;
}

footer a:visited {
  color: white;
}

footer a:hover {
  color: white;
}

footer a:active {
  color: white;
}
.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 2%;
}
.boxOne {
  background-color: teal;
}
.boxTwo {
  background-color: gold;
}
.boxThree {
  background-color: cadetblue;
}
.boxFour {
  background-color: coral;
}
.boxFive {
  background-color: crimson;
}
.boxSix {
  background-color: forestgreen;
}
.boxSeven {
  background-color: darkorchid;
}
.boxEight {
  background-color: hotpink;
}
.boxNine {
  background-color: indigo;
}
.boxTen {
  background-color: dodgerblue;
  width: 13%;
  padding: 4.5% 2% 5.5% 4.4%;
  margin: 2%;
}

.boxOne,
.boxTwo,
.boxThree,
.boxFour,
.boxFive {
  width: 13%;
  padding: 5% 3% 5% 4%;
  margin: 2%;
}

.boxSix,
.boxSeven,
.boxEight,
.boxNine {
  width: 13%;
  padding: 5% 3% 5% 4%;
  margin: 2%;
}

.jumboAbout {
  width: 100%;
}

h2,
p {
  font-weight: bold;
}

.containerAboutPage .topSection {
  display: flex;
  flex-direction: column;
  border-bottom: black dashed 1px;
  margin: 2%;
}
.containerAboutPage .topSection p {
  margin-bottom: 3%;
}

.middleFour {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}

.strategy {
  margin: 3%;
  display: flex;
  width: 40%;
  flex-direction: column;
  border-bottom: black dashed 1px;
}
.howWeWork {
  margin: 3%;
  display: flex;
  width: 40%;
  flex-direction: column;
  border-bottom: black dashed 1px;
}
.placesWeWork {
  margin: 3%;
  display: flex;
  width: 40%;
  flex-direction: column;
  border-bottom: black dashed 1px;
}
.collaboration {
  margin: 3%;

  display: flex;
  width: 40%;
  flex-direction: column;
  border-bottom: black dashed 1px;
}

button {
  width: 30%;
  border-radius: 10px;
  padding: 2%;
  border: black 1.5px solid;
  margin-top: 5%;
  margin-bottom: 2%;
}

.middleFour h2 {
  margin-top: 4%;
  margin-bottom: 2%;
}
.letsWorkTogether {
  display: flex;
  flex-direction: column;
  margin: 3%;
}
.letsWorkTogether p {
  font-weight: 550;
}

@keyframes banner {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.jumboAbout,
.jumboImg {
  width: 100%;
  position: relative;

  animation-name: banner;
  animation-duration: 20s;
}
